<section class="content-block container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <h4 class="separate-red">
        <span class="fa-stack color-red">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-home fa-stack-1x"></i>
        </span>
        To become a teacher :
      </h4>
      <p>Update blabla and infos on becoming a teacher here !</p>
      <%= link_to 'Ok, got it !', new_career_path, class: 'btn btn-block btn-custom' %>
    </div>
  </div>
</section>
