
    <section class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-6 offset-md-6">
          <div class="top-hat">
            <h1 class="root-header">Bitognio</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="main-block container-fluid root-background tagline">
      <div class="row">
        <div class="col-xs-12 col-md-6 offset-md-6">
          <h1 class="top-hat">Main title h1</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h2 class="separate-blue">Truc de ouf que c'est tres cool !</h2>
          <h6>Oh mais c'est du texte ? main non c'est un petit sdsqdsq
          dsqd d qsd qskjd qs dqsk dqks d sdkqsdkjqsd qsk dsq kdk sdkq onerr
        dq sd qsdqs kdsq d</h6>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <button class="btn btn-block btn-custom">Connect</button>
            </div>
            <div class="col-xs-12 col-md-6">
              <button class="btn btn-block btn-custom">Connect</button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="intro-quarter text-center">
            <span class="fa-stack fa-4x color-blue">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x"></i>
            </span>
            <h3 class="separate-blue">A la maison</h3>
            <p>Trop cool tranquille les leçon qui roks du poney</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="intro-quarter text-center">
            <span class="fa-stack fa-4x color-red">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-child fa-stack-1x"></i>
            </span>
            <h3 class="separate-red">A la maison</h3>
            <p>Trop cool tranquille les leçon qui roks du poney</p>
          </div>
        </div>
      </div>
    </section>

    <section class="content-block container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
          <h1 class="separate-red">Babar en string</h1>
          <p>pdjsnd qs dnqs dqs dqsl kdqsl d, sqld sqdsqdlq sdq dqsd qsd qs qsd dsq dlqsl d,kd ,qsld
            odqs  dakd qs:d; azm d!a;zdaz d;qs ; az2dad
             az ;azda, dazld,az d,azd,lazkjela zehazi eha ea e azoe azoe aze o</p>
          <h6>kjndsqkdjnsq   qsksd sqkdqs dkq sdk</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <div class="intro-quarter text-center">
            <span class="fa-stack fa-4x color-blue">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x"></i>
            </span>
            <h3 class="separate-blue">A la maison</h3>
            <p>Trop cool tranquille les leçon qui roks du poney</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="intro-quarter text-center">
            <span class="fa-stack fa-4x color-green">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x"></i>
            </span>
            <h3 class="separate-green">A la maison</h3>
            <p>Trop cool tranquille les leçon qui roks du poney</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="intro-quarter text-center">
            <span class="fa-stack fa-4x color-red">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x"></i>
            </span>
            <h3 class="separate-red">A la maison</h3>
            <p>Trop cool tranquille les leçon qui roks du poney</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="intro-quarter text-center">
            <span class="fa-stack fa-4x color-yellow">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x"></i>
            </span>
            <h3 class="separate-yellow">A la maison</h3>
            <p>Trop cool tranquille les leçon qui roks du poney</p>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
    </section>
