<% @confirmed_lessons.each do |lesson| %>
  <div class="col-xs-12 col-md-6 col-lg-3">
   <div class="intro-quarter text-center">
     <span class="fa-stack fa-2x color-green">
       <i class="fa fa-square-o fa-stack-2x"></i>
       <i class="fa fa-home fa-stack-1x"></i>
     </span>
     <div class="separate-green"></div>
     <h5><%= lesson.date %></h5>
     <p>Lesson with <%= link_to lesson.student.email, '#' %></p>
     <% if lesson.payed %>
       <p>This lesson has been payed !</p>
       <p class="separate-green">Take care of your student !</p>
     <% else %>
        <p>This lesson is not pay yet</p>
        <p class="separate-green"><%= link_to t(:__cancel), lesson,
          method: :delete, data: { confirm: 'Are you sure?' } %></p>
     <% end %>
   </div>
 </div>
<% end %>
