
<section class="content-block container-fluid bot-space">
  Teacher block
</section>

  <section class="content-block container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h4 class="separate-green">
          <span class="fa-stack color-green">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-home fa-stack-1x"></i>
          </span>
          Request
        </h4>
      </div>
    </div>
    <div class="row">
      <%= render 'teacher_requested_lessons', collection: @request_lessons %>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h4 class="separate-green">
          <span class="fa-stack color-green">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-home fa-stack-1x"></i>
          </span>
          Confirmed
        </h4>
      </div>
    </div>
    <div class="row">
      <%= render 'teacher_confirmed_lessons', collection: @confirmed_lessons %>
    </div>
  </section>
