<section class="content-block container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <h4 class="separate-red">
        <span class="fa-stack color-red">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-home fa-stack-1x"></i>
        </span>
          <%= t('.account_balance', balance: @balance) %>
      </h4>
      <p><%= link_to t(:__payments_history), '#' %></p>
    </div>
  </div>
</section>
