.top-hat {
  height: 150px;
  position: relative;
}

.root-header {
  font-size: 5em;
  font-weight: 900;
  line-height: 1em;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
}

.root-background {
  background-color: $color-yellow;
  min-height: 500px;
  background: asset-data-url("paris.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.tagline {
 text-shadow: 2px 2px 5px #000;
 color: #fafafa;
}

.bot-space {
  margin-bottom: 75px;
}

.main-block {
  //background-color: $color-yellow;
  border-top: 5px solid $color-blue;
  border-bottom: 5px solid $color-blue;
  height: 100%;
  position: relative;
  padding: 0 20px 50px 20px;
}

.content-block {
  padding: 50px 20px;
}

.intro-quarter {
  margin: 10px;
}

.i18n-menu {
  background-color: $color-grey;
  padding: 5px 20px;
  border-radius: 10%;
}

.i18n-menu > a {
  margin: 0 5px;
}
