.top-hat {
  height: 150px;
  position: relative;
}

.root-header {
  font-size: 5em;
  font-weight: 900;
  line-height: 1em;
  position: absolute;
  bottom: 0px;
  left: -10px;
  margin: 0;
  padding: 0;
}

.main-block {
  background-color: $color-yellow;
  height: 100%;
  position: relative;
  padding: 0 20px 50px 20px;
}

.content-block {
  padding: 50px 20px;
}

.intro-quarter {
  margin: 10px;
}
